@model MyApp.Web.Models.Users.UserViewModel

@{
    ViewBag.Title = "A concrete user";
}

<table class="table">
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.Forename)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Surname)
    </th>
    <th>
        Date of birth
    </th>
    <th>
        Status
    </th>
    <tr>
        <td>
            @Model.Forename
        </td>
        <td>
            @Model.Surname
        </td>
        <td>
            @Model.DateOfBirth.ToString("dd/MM/yyyy")
        </td>
        <td>
            @if (Model.IsActive)
            {
                <p>Active</p>
            }
            else
            {
                <p>Non-Active</p>
            }
        </td>
    </tr>
</table>