@model IEnumerable<MyApp.Models.User>

@{
    ViewBag.Title = "List of users";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <div>
        <span>Filter by:</span>
        @Html.DropDownList("isActive", new SelectList(new Dictionary<string, string>
        {
            { "true", "Active users" },
            { "false", "Non-active users" }
        }, "Key", "Value", ViewBag.IsActive), "All users", new { onchange = "this.form.submit();" })
    </div>
}

<p>
    @Html.ActionLink("Create a new user", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            Date of birth
        </th>
        <th>
            Is the user active?
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Forename, "Details", new { id = item.Id })
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.DateOfBirth.ToString("dd/MM/yyyy");
            </td>
            <td>
                @if (item.IsActive)
                {
                    <p>Yes</p>
                }
                else
                {
                    <p>No</p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "DELETE USER" })
            </td>
        </tr>
    }

</table>